name: Assign issue to mynameistito

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  assign-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Assign issue to mynameistito
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.addAssignees({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              assignees: ['mynameistito']
            })
